{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: aquamarine;">
    <a class="navbar-brand" href="{% url 'store:index' %}">Ecomm</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store:index' %}">Store<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'store:checkout' %}">Checkout</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <a href="#">Login</a>
        <a  class="navbar-brand" href="{% url 'store:cart' %}"><img src="{% static 'images/Cart.png' %}" alt="" width="30" height="30" alt="" loading="lazy"></a>
        <p id="cart-total">{{cart_items}}</p>
      </div>
    </div>
  </nav>